header { background:#f16272; padding: 10px;}
header h1 { text-align: left; color: #fff; text-transform: uppercase; margin:0; font-size: 1em; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; letter-spacing: 1px;}

.page { padding: 10px; background: url(../img/header_bg.jpg) 0 0 repeat;}
.text_box { padding: 10px;}
.text_box ul { margin: 0; padding: 0;}
.text_box ul li { list-style: none; padding: 5px 0; color: #fff; text-align: left; font-size: 0.8em;}
.text_box ul li a { text-decoration: underline; color: #fff;}
.content { width: 100%;}
.content a { display: block; font-size: 1em; font-weight: normal; position: relative;}
.content i { position: absolute; right: 5px; top: 30%; z-index: 1;}
.dojo ul { display: table; margin: 10px 0; padding: 0;}
.dojo ul li { display: table-cell; padding: 10px; list-style: none;}
.dojo ul .label { padding-right: 30px;}

.code { width: 320px; margin: 10px auto;}